.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.listWrap ul li{
list-style-type: none;
display: inline-block;
margin-left: 60px;
font-size: 14px;
font-weight: bold;
color: #54524f;
}
.listWrap ul {
    display: flex;
}
.logoWrap img{
max-width: 75%;
}